* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

.carousel {
  height: calc(100vh - 55px);
}

.cards {
  width: 100vw;
}

/* .tours,
.subscription,
footer {
  background-color: #f6f6f6;
}
.tours,
.subscription,
footer {
  background-color: #f6f6f6;
} */

html[data-bs-theme='light'] .tours,
html[data-bs-theme='light'] .subscription,
html[data-bs-theme='light'] footer {
  background-color: #f6f6f6 !important;
}

html[data-bs-theme='dark'] .tours,
html[data-bs-theme='dark'] .subscription,
html[data-bs-theme='dark'] footer {
  background-color: #212529 !important;
}

html[data-bs-theme='dark'] .border-white {
  border-color: rgba(255, 255, 255, 0.15)
 !important; /* light gray in dark mode */
}

html[data-bs-theme="dark"] .btn-dark {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}


.subscription {
  padding: 3rem 10rem;
}

.carousel-inner,
.carousel-item {
  height: 100vh;
}
.carousel-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
}
