* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100w;
  height: 100vh;
}

ul {
  list-style: none;
}

/* .right-seperator::after {
  content: "";
  background-color: gray;
  position: absolute;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 1px;
} */


.hero {
  height: calc(100vh - 5rem);
}

.carousel {
  height: 50%;
}

.card-container {
  height: 50%;
}

.posts {
  background-color: gray;
}
